* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
}

/* For chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 4px;
}

/* Firebox */
input[type="number"] {
  -moz-appearance: textfield;
}

.border-1 {
  border: 1px solid #919191ab
}

.dashboardRightBoxStyle {
  height: 100vh !important;
}

.slick-next {
  right: 8px !important;
  z-index: 4;
}

.slick-prev {
  left: 8px !important;
  z-index: 4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.MuiDialog-paperWidthSm {
  max-width: 800px;
}

/* pagination style start */

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.paginationBox .pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.paginationBox .pagination .page-item {
  background-color: #fff;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  cursor: pointer;
  transition: all 0.3s linear;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-item .page-link {
  text-decoration: none;
  font: 300 0.7vmax;
  color: rgb(80, 80, 80);
  transition: all 0.3s linear;
}

.paginationBox .pagination .page-item:hover {
  background-color: rgb(230, 230, 230);
  color: red;
}

.paginationBox .pagination .page-item:hover .page-link {
  color: rgb(80, 80, 80);
}

.paginationBox .pagination .pageItemActive {
  background-color: #026958;
}

.paginationBox .pagination .pageItemActive:hover {
  background-color: #026958;
}

.paginationBox .pagination .pageItemActive .pageLinkActive {
  color: #fff;
}

.paginationBox .pagination .pageItemActive:hover .pageLinkActive {
  color: #fff;
}

/* pagination style end */

/* LoginSignUp form Styles start */

input.avatarChoose::file-selector-button {
  cursor: pointer;
  padding: 0;
  height: 5vh;
  width: 100%;
  border: none;
  z-index: 2;
  margin: 0;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: #fff;
}

input.avatarChoose::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

/* LoginSignUp form Styles end */

/* user options style in navbar start*/


.MuiFab-root {
  width: 35px !important;
  height: 30px !important;
  border: 2px solid #026958 !important;
}

/* user options style in navbar ends */

/* Cart page icons style  start*/

.isEmptyCart>svg {
  font-size: 5vmax;
  color: #026958;
}

/* Cart page icons style end*/

/* shipping checkoutsteps style starts */

.MuiStepConnector-root {
  height: 1px;
  background-color: #026958;
}

.MuiStepLabel-iconContainer-active {
  color: #026958 !important;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: #026958;
}

/* shipping checkoutsteps style ends */

/* Myorder styles start */
.MuiDataGrid-root {
  color: rgba(0, 0, 0, 0.623);
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1.7px 1.2px 2.2px rgba(0, 0, 0, 0.02),
    4.1px 2.9px 5.3px rgba(0, 0, 0, 0.028),
    7.8px 5.4px 10px rgba(0, 0, 0, 0.035),
    13.8px 9.6px 17.9px rgba(0, 0, 0, 0.042),
    25.9px 18px 33.4px rgba(0, 0, 0, 0.05), 62px 43px 80px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}

.MuiTypography-body1 {
  font-size: 18px;
}

.MuiDataGrid-columnsContainer {
  background-color: #026958;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.initial-child-container {
  gap: 20px !important;
}

.MuiDialogContent-root {
  padding: 10px 12px !important;
}

.MuiPaper-elevation {
  max-width: 1000px !important;
}
